@model RoleViewModel
@{
    ViewData["Title"] = "Create role";
}

<h2>@ViewData["Title"].</h2>
<hr />
<h4>Enter a new role.</h4>
<br />

<form method="post" asp-controller="Role" asp-action="Create">
    <div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </div>
        @Html.ActionLink("Back to list", "Management", "Role")
    </div>
</form>
